<h1>Great Reads</h1>

<% if logged_in? %>
  <h2>Welcome <%= current_user.username %></h2>
  <%= link_to 'Logout', sessions_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_sessions_path %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book %>
    </li>
  <% end %>
</ul>

<%= link_to "Create new book", new_book_path %>
